body {
    font-family: 'Dancing Script', cursive !important;
    text-align: center;
    background-color:#95A78D
}

.jumbotron {
    padding-top: 32px;
    padding-bottom: 32px;

}

h2 {
    margin-top: 8px;
}

/* .modal-body {
    background: red;
} */

/* .modal-title {
    text-align: center;
    margin: 0 auto;
} */
/* h1 {
    font-family: 'Dancing Script', cursive !important;
}

h2 {
    font-family: 'Dancing Script', cursive !important;
} */

h3 {
    font-weight: bold;
}
h5 {
    text-align: center !important;
}

#matchPhoto {
height: 100%;
width: 100%;
}

#matchName {
    text-align: center;
}

/* .col-md-3 {
    border: 2px solid black;
}

.row {
    border: 5px solid red;
} */

/* #matchfriendDifference {
    text-align: center;
} */

/* .custom {
    width: 50%;
} */

.lead {
    margin-top: 16px;
}

.custom-button {
   background-color: #14AA49 !important;
   border-color: #14AA49 !important;
}

#submit {
    background-color: #14AA49;
    border-color: #14AA49;
 }
 
