/*------------------------------general------------------------------*/

body {
    font-family: 'Dancing Script', cursive !important;
    text-align: center;
    background-color:#95A78D
}

h2 {
    margin-top: 8px;
}

/*------------------------------home------------------------------*/


.lead {
    margin-top: 16px;
}

.custom-button {
    background-color: #14AA49 !important;
    border-color: #14AA49 !important;
 }

/*------------------------------survey------------------------------*/


.jumbotron {
    padding-top: 32px;
    padding-bottom: 32px;

}
.form-control {

    border: 2px solid black;
}
 
select {
    border-color: black;
}

#submit {
    background-color: #14AA49;
    border-color: #14AA49;
 }

/*------------------------------modal------------------------------*/

 #matchPhoto {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    border: 5px solid black;    
    }

.modal-content {
    background-color: #95A78D;
    border: 2px solid black;
}

h5 {
    font-weight: bold;
}

/* #matchName {
    text-align: center;
} */





















#blah {
    color: white;
}